<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <a href="view/roupa.html"><img src="img/modelo.png" class="roupa"></a>
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
        <div class="col-md-3 col-sm-4"><!--Pegar como modelo-->
            <img src="img/modelo.png" class="roupa">
            <div class="row">
                <span class="nomeRoupa">Nome da peça de roupa</span>
                <span class="col valorCartao" style=" text-decoration: line-through">R$ 49,90</span>
                <span class="col valorPix">R$ 39,90(PIX)</span>
                <span class="valorCredito">1X de R$ 49,90*</span>
            </div>
        </div><!--fim modelo-->
            </div>
</div>


