<div class="rodape row">
    <div class="col-md-4">
        <div class="row">
            <span class="LorikeetNome">Lorikeet</span>
            <div>
                <a href="#" class="bi bi-instagram"></a>
                <a href="#" class="bi bi-facebook"></a>
                <a href="#" class="bi bi-whatsapp"></a>
            </div>
            <span>Formas de pagamento</span>
            <span>Combinamos via whatsapp</span>
            <div>
                <a href="#" class="bi bi-paypal"></a>
                <a href="#" class="bi bi-paypal"></a>
                <a href="#" class="bi bi-paypal"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <span>Links</span>
            <span>tamanho 2 a 4 anos</span>
            <span>tamanho 5 a 7 anos</span>
            <span>tamanho 8 a 10 anos</span>
            <span>Sobre</span>
            <span>Minha conta</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <span>Contatos</span>
            <span>(61)987654321</span>
            <span>Rua araguaia, Jardim flamboyant Luziânia - GO</span>
        </div>
    </div>
    <a href="https://antonystar.com/"><img src="#" />Feito por Antonystar</a>


</div>